{% extends 'shop/base.html' %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-4">
        <div class="card p-4 shadow-sm">
            <h3 class="text-center mb-3">Вход в систему</h3>
            
            {% if error %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endif %}

            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="email" name="email" class="form-content form-control" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Пароль</label>
                    <input type="password" name="password" class="form-content form-control" required>
                </div>
                <button type="submit" class="btn btn-primary w-100 mb-2">Войти</button>
            </form>
            <hr>
            <a href="{% url 'guest_login' %}" class="btn btn-secondary w-100">Войти как Гость</a>
        </div>
    </div>
</div>
{% endblock %}